<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Propose a Talk</a>

    <ul class="navbar-nav navbar-expand-md ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="/account">Account</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/instructions">Instructions</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/cfp">New Proposal</a>
        </li>
    </ul>
</nav>

<div>
    <h1>My proposals</h1>
    {{#each proposals}}
    <a href="/cfp/{{this.index}}">{{this.titleOfThePresentation}}</a><br />
    {{/each}}
    <br />
    <a class="btn btn-primary" href="/cfp">Write a new proposal</a>
</div>