<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Propose a Talk</a>

    <ul class="navbar-nav navbar-expand-md ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="/account">Account</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/cfp">New Proposal</a>
        </li>
        {{#if hasProposals}}
        <li class="nav-item">
            <a class="nav-link" href="/proposals">My Proposals</a>
        </li>
        {{/if}}
    </ul>
</nav>

{{#each alerts}}
<div class="alert alert-{{this.class}} m-3" role="alert">{{{input_long this.message}}}</div>
{{/each}}

<div class="row justify-content-md-center my-3" style="margin-top: 30px">
    <div class="col-md-8">
        <p>You are about to propose a talk to CPPP.</p>

        <h2> Who should propose a talk?</h2>

        <p>Anybody who wants to!</p>

        <p>We love having famous talented speakers but are also looking for new voices that will make our conference
            novel.</p>

        <p>We are interested in new subjects and new persepectives on known subjects! We are striving for a diversity of
            backgrounds (technical and human), approaches and experience.</p>

        <h2>What should you talk about?</h2>

        <p>We are looking for talks that are relevant to C++ programmers. Which does not mean that all talks need to be
            about code. CPPP has three tracks with different perspectives and we recommend to think your talk so that it
            fits well with one of them.</p>

        <p>If you want to propose multiple talks, targetting multiple tracks can increase your chances of being
            selected.</p>

        <p>If new materials are preferred, we also accept submissions of talks already presented in other conferences if
            the topic and delivery fit our targets.</p>

        <h3>Progress</h3>

        <p>This track is all about the bases. These are the talks that you wish every new C++ developer would listen to
            early in their career to start on the right foot. They can be very valuable to experts but need to be
            accessible to students and beginners.</p>

        <p><em>eg: How to use the STL algorithms? What is "the rule of 0" and when to use it?</em></p>

        <h3>Produce</h3>

        <p>This track is for talks that can be immediately applied by professional C++ programmers in their everyday
            job. Concrete tools and pragmatic ideas that work for legacy codebases and scale well with big teams.</p>

        <p><em>eg: How to start testing legacy code? How to do good code reviews?</em></p>

        <h3>Push Forward</h3>

        <p>Talks in this track propose novel ideas and approaches for C++. They can be patterns that are not well known
            yet, new features coming in the language, libraries using these recent features or new ways to think about
            old problems.</p>

        <p><em>eg: What could C++ learn from functional programming? What will pattern matching look like?</em></p>

        <h2>How to write your proposal?</h2>

        <p>Every field in the form is explained in details to help you write the most effective proposal. These explanations
            are a shorter version of <a href="https://fredtingaud.github.io/talking-cfp/" target="blank">this blog post</a>.
        </p>

        <p>Once you submitted your proposal, you can still come back and modify it until the end of the Call for Proposals.
            You can also save your work in progress and come back to finish it afterward.
        </p>

        <p>If you feel unsure about how your talk or how to present it, you can ask us for help! Contact
            <a href="mailto:presentation@cppp.fr">presentation@cppp.fr</a> with your questions and talk ideas and we can
            help you.
            Try doing it as soon as possible to ensure there is enough time for us to answer you and for you to have
            enough time to write your proposal before the deadline.
        </p>

        <h2>Code of Conduct</h2>

        <p>As a speaker, you will be key in how attendees enjoy their conference. That is why you will also be held to a
            high standard regarding your language and behavior while on stage. No oppressive humour will be tolerated
            and we ask you to try your best to avoid vocabulary that can make part of the public feel ignored or
            excluded. If you have doubts about a joke or part of your talk and want to discuss it, you can contact us at
            <a href="mailto:presentation@cppp.fr">presentation@cppp.fr</a> and we can help you.
        </p>

        <a class="btn btn-primary" href="/cfp">Write your proposal</a>

    </div>

</div>