
.form-group.required .control-label:before {
    content: "*";
    color: red;
    font-weight: bold;
}

.done {
    background: #ddf0f7
}

.skipped {
    background: #d9d9d9
}

.popover{
    max-width: 40%;
}